@keyframes glowing {
  0% { margin-left: 5em; margin-right: 0; zoom: 100%; }
  10%  { margin-right: 5em;margin-left: 0; zoom: 100%; }
  20%  { margin-left: 5em; margin-right: 0;zoom: 100%; }
  30%  { margin-right: 5em;margin-left: 0; zoom: 100%; }
  40%  { margin-left: 5em; margin-right: 0;zoom: 100%; }
  50%  { margin-right: 5em;margin-left: 0; zoom: 100%; }
  60%  { margin-left: 5em; margin-right: 0;zoom: 100%; }
  70%  { margin-right: 5em;margin-left: 0; zoom: 100%; }
  80%  { margin-left: 5em; margin-right: 0;zoom: 100%; }
  90%  { margin-right: 5em;margin-left: 0; zoom: 100%; }
  100% { margin-left: 5em; margin-right: 0;zoom: 100%; }
}