#cursor {
 position  : absolute;
 z-index   : 10000;
 width     : 40px;
 height    : 40px;
 background: transparent url('/images/pizza.gif') 0 0 no-repeat;
}

body {
  background-color: #BADA55;
  height: 100vh;
  width: 100vw;	
}

.header {
  width: 100%;
  text-align: center;
  padding: 10em 0 20px 0;
}

@keyframes glowing {
    0% { margin-left: 5em; margin-right: 0; zoom: 100%; }
    10%  { margin-right: 5em;margin-left: 0; zoom: 100%; }
    20%  { margin-left: 5em; margin-right: 0;zoom: 100%; }
    30%  { margin-right: 5em;margin-left: 0; zoom: 100%; }
    40%  { margin-left: 5em; margin-right: 0;zoom: 100%; }
    50%  { margin-right: 5em;margin-left: 0; zoom: 100%; }
    60%  { margin-left: 5em; margin-right: 0;zoom: 100%; }
    70%  { margin-right: 5em;margin-left: 0; zoom: 100%; }
    80%  { margin-left: 5em; margin-right: 0;zoom: 100%; }
    90%  { margin-right: 5em;margin-left: 0; zoom: 100%; }
    100% { margin-left: 5em; margin-right: 0;zoom: 100%; }
}

img {
  animation: glowing 10000ms infinite;
}

.table {
  width: 500px;
  background: black;
  color: #BADA55;
  margin: 0 auto;
  padding: 3em;
}

td {
  padding: 10px;
  border-bottom: red 2px solid;
}

.twitter {
  text-align: center;
  margin-top: 20px;  
}