<div class='header'>
  <img class='sliding' src='images/header-title.gif'>
</div>
<div class='content'>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Crust</th>
        <th scope="col">Cheese</th>
        <th scope="col">Sauce</th>
        <th scope="col">Mouth Feel</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Franks Pizza</td>
        <td align='center'>4</td>
        <td align='center'>5</td>
        <td align='center'>4</td>
        <td align='center'>4</td>
      </tr>
      <tr>
        <td>Pinks</td>
        <td align='center'>4</td>
        <td align='center'>2</td>
        <td align='center'>3</td>
        <td align='center'>3</td>
      </tr>
    </tbody>
  </table>
  <div class='katie'>
    <h1 style='text-align: center;'>
      katie's take on the stuffed cheese it pizza
    </h1>
    <p>
      I tried it so you didn’t have to: a review of Pizza Hut’s new Cheez-it pizza
    </p>
    <p>
      For $6.49, you get four squares of Cheez-it pizza. For $2.00, you can get 4 tacos from Jack in the Box. The
      Cheez-it pizza somehow manages to taste like a Jack in the Box taco that’s been in your fridge for a few days and
      then microwaved.
    </p>
    <p>
      Seriously, this is a horrible excuse for “pizza,” and it tastes worse than it looks. Without the marinara, it’s a
      1/10. If you drown it in so much sauce you can’t taste any part of it, it goes up to a 3/10 just because the
      marinara sauce tastes decent. I’d rather eat (drink?) the marinara sauce plain and save the calories.
    </p>
    <p>
      The cheese is gritty, the crust is floppy and tastes as much like Cheez-its as La Croix tastes like fruit.
    </p>
    <p>
      I’m disappointed in you, Pizza Hut. I thought you were better than this. You let me down.
    </p>
  </div>
  <div class='twitter'>
    <a href='https://twitter.com/SMSeddy'>
      <img src='https://pbs.twimg.com/profile_images/984828045541470208/asMzB0CF_400x400.jpg' />
      <h1>Design by: Eddy Gann</h1>
    </a>
  </div>
</div>