<div>
  <div class='header'>
    <img src='images/header-title.gif'>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Crust</th>
        <th scope="col">Cheese</th>
        <th scope="col">Sauce</th>
        <th scope="col">Mouth Feel</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Franks Pizza</td>
        <td align='center'>4</td>
        <td align='center'>5</td>
        <td align='center'>4</td>
        <td align='center'>4</td>
      </tr>
      <tr>
        <td>Pinks</td>
        <td align='center'>4</td>
        <td align='center'>2</td>
        <td align='center'>3</td>
        <td align='center'>3</td>
      </tr>
    </tbody>
  </table>
  <div class='twitter'>
    <a href='https://twitter.com/SMSeddy'>
      <img src='https://pbs.twimg.com/profile_images/984828045541470208/asMzB0CF_400x400.jpg' />
      <h1>Design by: Eddy Gann</h1>
    </a>
  </div>
</div>